/*
#FF0080 - Titulo
#FFFFFF
#161821 - Fundo

Fontes do web: Artifakt Element (título)

Segoe UI(texto)
*/


body {
    background-color: #161821;
}

#principal {
    height: 100%;
    background-image: url("../Imagens/Tela_Principal.png");
    background-size: cover;
}

#secundario {
    height: 150%;
    background-image: url("../Imagens/Tela_Secundaria.png");
    background-size: cover;
    margin-top: 0%;
}

.slogan {
    padding-top: 15%;
}

    .slogan p {
        margin-left: 5%;
        margin-top: 10%;
    }

.titulo {
    color: #FF0080;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-style: normal;
    font-family: Bahnschrift;
    font-size: 200%;
}

#block h2 {
    padding-top: 12%;
    margin-left: 27%;
    text-align: center;
}

.texto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    margin-left: 0;
}

    .texto h3 {
        font-size: 170%;
        margin-left: 5%;
    }

h2 {
    font-weight: 100;
}

#predio {
    height: 100%;
    background-image: url("../Imagens/Tela_Predios_03.png");
    background-size: cover;
}

.visao_tabela {
    width: 120%;
}

    .visao_tabela img {
        width: 100%;
    }
        
#nos {
    padding-top: 14%;
    float: left;
    margin-left: 49%;
}

.dividido_missao_valor {
    display: flex;
    margin-left: 150px;
}

.dividido_tabela_texto {
    display: flex;
}

#visao {
    text-align: center;
}



.titulo-esquerda {
    color: #FF0080;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-style: normal;
    font-family: Bahnschrift;
    font-size: 200%;
    text-align: right;
}

.centralizar-texto {
    text-align: center;
}

.valor {
    width: 100%;
    text-align: center;
}

.missao {
    text-align: center;
}


#email {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 15px;
}

button {
    width: 6%;
    height: 4%;
    border: none;
    background-color: #FF0080;
    border-radius: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 3px;
    margin-left: 0.4%;
}

.novidades {
    background-size: cover;
    height: 100%;
    background-image: url("../Imagens/Tela_Final.png");
}

    .novidades h2 {
        text-align: center;
        padding-top: 9%;
    }

.texto-dotexto {
    margin-top: 10%;
}

.icons {
    align-items: center;
    margin-top: 3%;
}

    .icons p {
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.icons1-3 {
    display: flex;
    margin-left: 6%;
}

.icons4-6 {
    display: flex;
    margin-left: 6%;
    margin-top: 3%;
}

.icone_1 {
    margin-right: 2%;
    text-align: center;
    align-items: center;
    width: 30%;
}

.icone_2 {
    margin-right: 2%;
    text-align: center;
    width: 30%;
}

.icone_3 {
    text-align: center;
    width: 30%;
}

.icone_4 {
    margin-right: 2%;
    text-align: center;
    width: 30%;
}

.icone_5 {
    margin-right: 2%;
    text-align: center;
    width: 30%;
}

.icone_6 {
    text-align: center;
    width: 30%;
}

.numeroUm {
    display: flex;
    align-items: center;
}

.numeroDois {
    display: flex;
    align-items: center;
}

.numeroTres {
    display: flex;
    align-items: center;
}

.numeroQuatro {
    display: flex;
    align-items: center;
}

.numeroCinco {
    display: flex;
    align-items: center;
}

.numeroSeis {
    display: flex;
    align-items: center;
}



/* 1- Um usuário efetua uma transação<br>
    2- Um bloco é gerado para representar a transação<br>
    3- O bloco é distribuido para os usuários da rede<br>
    4- O bloco e a transação são validadas por "nós"<br>
    5- O bloco é adicionado á blockchain<br>
    6- A transação é verificada e executada<br><br>*/
